.holder {
  background-color: var(--theme-ui-colors-green-300);
  color: var(--theme-ui-colors-green-1100);
  padding: 0px 4px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  border: solid 1px var(--theme-ui-colors-green-400);
}

.no-holder {
  background-color: rgba(243, 120, 18, 0.38);
  color: rgba(95, 54, 20, 0.9);
  padding: 1px;
  border-bottom: 2px solid rgb(112, 212, 191);
}
