.holder {
  background-color: var(--theme-ui-colors-green-300);
  color: var(--theme-ui-colors-green-1100);
  padding: 0px 4px;
  border-radius: 3px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  border-right: solid 2px var(--theme-ui-colors-green-700);
  border-left: solid 2px var(--theme-ui-colors-green-600);
}

.no-holder {
  background-color: var(--theme-ui-colors-orange-100);
  color: var(--theme-ui-colors-orange-1000);
  padding: 1px;
  border-right: solid 2px var(--theme-ui-colors-orange-400);
  border-left: solid 2px var(--theme-ui-colors-orange-400);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}
